body{
    background: #eee;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

input{
    width:100%;
    height: auto;
    padding: 1rem;
    margin: 5px;
    border-radius: 5px;
    border:1px solid #ddd;
    outline: none;
}

button{
   padding:15px;
   background:red;
   border:none;
   border-radius: 5px;
   margin: 5px;
   color:#fff;
   width:100%;


}

button:hover{
    background:rgb(117, 4, 4);
}
